<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Ticket Booking!</title>
</head>
<body>
    <h1>Hi {{ name }},</h1>
    <p>Welcome to our platform. We are excited to have you on board.</p>
</body>
</html>